body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.default-route,
.signup-route,
.login-route,
.dashboard-route,
.dashboard-route,
.workspace-route {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-route,
.login-route {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:
        url('/auth-background-left.svg') no-repeat left bottom fixed,
        url('/auth-background-right.svg') no-repeat right bottom fixed;
    background-size: 500px 500px, 500px 500px;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.default-route,
.dashboard-route,
.workspace-route {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}